:root {
    --primary-color: rgb(7, 9, 12);
    --text-color: white;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    margin: 1% auto;
    padding: 0.5%;
    border-radius: 3px;
    font-size: 0.9rem;
}

.link-contact-secial-link {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.link-contact-secial-link div {
    margin: 1% auto;
    background-color: var(--primary-color);

}

.footer-about,
.footer-contact,
.footer-link,
.social_media_link {
    background-color: var(--primary-color);
    margin: 1%;
    padding: 1%;
    border-radius: 3px;
}

.footer-contact p {
    margin-bottom: 10px;
}

.fa-brands {
    margin-bottom: 10px;
    margin-left: 20px;
}

.footer-link a {
    color: white;
}


.copy-right {
    text-align: center;
    padding: 0.4rem;
    border-top: 1px solid #1e2a3e;
    color: rgb(148, 163, 184);
    font-size: 0.8rem;
    margin-top: 1rem;
}

.social_media_link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


@media (min-width: 1024px) {

    .link-contact-secial-link {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media (min-width: 601px) and (max-width: 1024px) {

    .link-contact-secial-link {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

}