body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

body div {
    border: 1px solid gray;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}


h1 {
    color: green;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
}

form input {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    width: 90%;
    border-radius: 0.3rem;
    border: 1px solid gray;
    padding: 0.5rem;
}

form button {
    width: 95%;
    padding: 0.4rem;
    border-radius: 0.34rem;
    border: none;
    background: green;
    color: white;
    margin-top: 0.5rem;
    font-size: 1rem;
}

form button:hover {
    background: rgb(0, 201, 0);
}